body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #f8f8f8;
	text-align: center;
}

.intro-header img.img-responsive.intro-image {
    margin: 0 auto;
    /*padding: 0px 80px;*/
}

.intro-message {
	position: relative;
	padding-top: 50px;
	padding-bottom: 5px;
}

.intro-message > h1 {
    margin: 0; 
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    padding: 10px 20px;
}




.bottom-header {
	padding-top: 0px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 10px;
	color: #f8f8f8;
	text-align: center;
}


.bottom-message {
	position: relative;
	padding-top: 0px;
	padding-bottom: 5px;
}




.left-title{
	text-align: left;
}
.right-title{
	text-align: right;
}

.intro-message > p {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    padding: 0px 20px;
}

.left-title::after {
    content: " ";
    display: inline-block;
    background: #f1e239;
    height: 18px;
    width: 20%;
    margin-left: 5px;
}

.right-title::before {
    content: " ";
    display: inline-block;
    background: #f1e239;
    height: 18px;
    width: 20%;
    margin-right: 5px;
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
    color: #666;
    text-align: left;
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

a.navbar-brand img {
    width: 180px;
}
.custom-navbar{

    background-color: #000;
    min-height: 55px;
    border-color: #000

}

.inquiry {
    background: #333;
    color: #FFF;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 0px;
}


.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

.social_area{

	margin-top: 50px;
}
.social_area p{
	color: #333;
	font-weight: 400;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 #social-fb{
 	color: #295396;
 }
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw{
 	color: #33bdfd;
 }
 #social-tw:hover {
     color: #33bdfd;
 }
 #social-pin{
 	color: #cb2027;
 }
 #social-pin:hover {
     color: #cb2027;
 }

.contact_div {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.contact_div h2 {
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;

}

.contact_div .my_contact{
	margin:0 auto;
	width: 400px;
}
.status{
    margin:0 auto;
	width: 400px;
}


.contact_div ul {
	margin-bottom: 0;
}

.contact_div-social-buttons {
	float: right;
	margin-top: 0;
}

.custom-textarea{
	height: 120px !important;
}




.service_div {
	padding: 100px 0;
	color: #f8f8f8;

}

.service_div h2 {
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    background: rgb(0, 0, 0);
    padding: 10px;
}


.services{
    margin: 20px auto;
    }
figure.snip1174 {
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: left;
  margin: 10px;
  width: 100%;
  border-radius: 0px;
}
figure.snip1174 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1174 img {
  max-width: 100%;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  vertical-align: top;
  opacity: 0.7;
}
figure.snip1174 figcaption {
  position: absolute;
  padding: 40px 25px;
  top: 0;
  left: 0;
}
figure.snip1174 h3,
figure.snip1174 p {
  margin: 0;
  padding: 0;
}
figure.snip1174 h3 {
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 300;
    font-size: 1.8em;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    color: #f1e239;
}
figure.snip1174 p {
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.4em;
}
figure.snip1174 a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
}
figure.snip1174 a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
figure.snip1174.blue {
  background-color: #20638f;
}
figure.snip1174.yellow {
  background-color: #c87f0a;
}
figure.snip1174.green {
  background-color: #1e8449;
}
figure.snip1174.navy {
  background-color: #222f3d;
}
figure.snip1174.red {
  background-color: #962d22;
}
figure.snip1174:hover img,
figure.snip1174.hover img {
  opacity: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.snip1174:hover a,
figure.snip1174.hover a {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}


@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 20px;
	}

	.intro-message > h1 {
		font-size: 24px;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
	.banner h3{
		text-align: center;
	}
	.list-inline {
    text-align: center !important;
    margin-top: 5px;
}

.contact_div .my_contact{
	width: 90%;
}

.status{
	width: 90%;
}

}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #FFF;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 15px 0;
	color: #f8f8f8;
    background: #333;
}

.banner h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

.list-inline{
	text-align: right;
}
.list-inline > li a {
    color: #FFF;
}






@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}